<div class="avatar avatar--{{size}} {{#if onClick}}avatar--clickable{{/if}}" ...>
    {{#if src}}
        <img class="avatar__image" src="{{src}}" alt="{{alt}}">
    {{else}}
        <div class="avatar__placeholder">{{initials}}</div>
    {{/if}}
</div>